<!--<h1>Hola soy el componente Persona</h1>

<button mat-button>Agregar</button>
<button mat-raised-button color="primary">Primary</button>
<button mat-raised-button disabled>Disabled</button>
-->
<h1>Componente Persona</h1>
<div class="example-container">
  <h3>One way binding</h3>
  <mat-form-field>
    <input matInput placeholder="Nombres" (keyup)="teclear($event)">
  </mat-form-field>
  <p>{{saludo}}</p>
</div>
<div class="example-container">
  <h3>Two way binding</h3>
  <mat-form-field>
    <input matInput placeholder="DNI" [(ngModel)]="dniNgModel" (keyup)="teclear($event)"
           (keyup.enter)="agregar()">
  </mat-form-field>

  <!-- <p>{{dniNgModel}}</p> -->

  <button mat-flat-button color="accent" [disabled]="estadoBotonAgregar"
          (click)="agregar()" >Agregar</button>

  <p>Lista</p>
  <ul>
    <li *ngFor="let e of lista">{{e}}</li>
  </ul>

  <p>Lista Angular Material</p>
  <mat-list role="list">
    <mat-list-item role="listitem" *ngFor="let e of lista; let i = index">
      {{i + 1}}::{{e}} -&nbsp;
      <!-- si num DNI es par se pinta de diferente color -->
      <div ngSwitch="{{+e%2}}">
        <div *ngSwitchCase="0" [ngClass]="'impar'">impar&nbsp;</div>
        <div *ngSwitchCase="1" [ngClass]="'par'">par&nbsp;</div>
        <div *ngSwitchDefault="0">Sin resultados.&nbsp;</div>
      </div>
      <button mat-stroked-button color="accent" (click)="remover(i)">Remover</button>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>
  <mat-divider></mat-divider>
</div>

<div class="example-container">
  <h3>Comunicación entre componentes</h3>
  <mat-form-field>
    <input matInput placeholder="Mensaje desde comp Perro" [(ngModel)]="mensaje">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Mensaje desde comp Gato" [(ngModel)]="mensaje02">
  </mat-form-field>
</div>

<app-gato [raza]="'Angora'" [nombre]="'Michi'" (emisor)="recibirMaullido($event)"></app-gato>