<p>Este es el component app, comp principal de una aplicacion en xiAngular.</p>
<!-- comunicacion App to Persona - ejem 01 desde html -->
<!-- <app-persona [mensaje]="'4'"></app-persona> -->
<!-- comunicacion App to Persona - ejem 02 desde TS -->
<app-persona [mensaje]="message"></app-persona>

<!-- comunicacion App to Perro -->
<app-perro [raza]="'Pastor aleman'" [nombre]="'Puppi'" (emisor)="recibirLadrido($event)"></app-perro>
<!-- <app-gato></app-gato> -->