<h3>Componente Gato (dentro de comp Persona)</h3>
<div class="example-container">
    <mat-form-field>
        <input matInput placeholder="nombres y apellidos" [(ngModel)]="nombre">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="raza" [(ngModel)]="raza">
    </mat-form-field>
    <button mat-button (click)="maullar()">¡Maullar!</button>
</div>